<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{title}} &#149; {{site.title}}</title>

		<meta name="author" content="{{ site.authors }}">
		<meta name="apple-mobile-web-app-title" content="Discover Moti">
		<meta name="robots" content="index, follow">

		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		
		{{> html5-shim }}

		{{> modernizr-js }}

		{{> css }}

	</head>

	<body>

		{{> body }}

		<!-- jQuery -->
		{{> jquery-js }}

		{{> bigvideo-js }}

	</body>

</html>
